{"openapi":"3.1.0","info":{"title":"Treasury REST API","description":"HTTP surface for the DemocracyCraft Treasury economy. Players issue an API key in-game with `/treasuryapi`, then use the token to authenticate every call here.\n\n**Two token scopes:**\n- **PERSONAL** — JWT carries an `acc` claim. Source of every transfer is   the player's PERSONAL account.\n- **BUSINESS** — JWT carries a `firm` claim. The caller picks one of the   firm's accounts to debit via the `fromAccountId` body field; the firm   ownership check happens server-side.\n\n**Money is always a decimal string.** Never JSON `number` — IEEE 754 rounding will silently corrupt amounts at scale.\n\n**Errors share a flat envelope** `{ \"error\": \"SNAKE_CASE_CODE\", \"message\": \"...\" }`. The `error` code is stable across versions; the message is informational.\n","contact":{"name":"DemocracyCraft","url":"https://democracycraft.net"},"license":{"name":"Proprietary"},"version":"v1"},"servers":[{"url":"https://api.democracycraft.net/economy","description":"Generated server url"}],"security":[{"BearerJWT":[]}],"paths":{"/api/v1/webhooks":{"get":{"tags":["webhook-controller"],"description":"**Rate limits:** 60 requests/minute for PERSONAL keys, 120 requests/minute for BUSINESS keys. Exceeding the limit returns HTTP 429 with a `Retry-After` header (in seconds). The response also includes `X-RateLimit-Limit` and `X-RateLimit-Remaining` headers on every successful call.","operationId":"list","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/WebhookListResponse"}}}}}},"post":{"tags":["webhook-controller"],"description":"**Rate limits:** 20 requests/minute for PERSONAL keys, 60 requests/minute for BUSINESS keys. Exceeding the limit returns HTTP 429 with a `Retry-After` header (in seconds). The response also includes `X-RateLimit-Limit` and `X-RateLimit-Remaining` headers on every successful call.","operationId":"create","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateWebhookRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CreateWebhookResponse"}}}}}}},"/api/v1/transfers":{"post":{"tags":["transfer-controller"],"description":"**Rate limits:** 30 requests/minute for PERSONAL keys, 120 requests/minute for BUSINESS keys. Exceeding the limit returns HTTP 429 with a `Retry-After` header (in seconds). The response also includes `X-RateLimit-Limit` and `X-RateLimit-Remaining` headers on every successful call.","operationId":"transfer","parameters":[{"name":"Idempotency-Key","in":"header","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TransferRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TransferResponse"}}}}}}},"/api/v1/transfers/to-player":{"post":{"tags":["transfer-controller"],"description":"**Rate limits:** 30 requests/minute for PERSONAL keys, 120 requests/minute for BUSINESS keys. Exceeding the limit returns HTTP 429 with a `Retry-After` header (in seconds). The response also includes `X-RateLimit-Limit` and `X-RateLimit-Remaining` headers on every successful call.","operationId":"transferToPlayer","parameters":[{"name":"Idempotency-Key","in":"header","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PlayerTransferRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TransferResponse"}}}}}}},"/api/v1/transfers/to-firm":{"post":{"tags":["transfer-controller"],"description":"**Rate limits:** 30 requests/minute for PERSONAL keys, 120 requests/minute for BUSINESS keys. Exceeding the limit returns HTTP 429 with a `Retry-After` header (in seconds). The response also includes `X-RateLimit-Limit` and `X-RateLimit-Remaining` headers on every successful call.","operationId":"transferToFirm","parameters":[{"name":"Idempotency-Key","in":"header","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FirmTransferRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TransferResponse"}}}}}}},"/api/v1/auth/rotate":{"post":{"tags":["auth-controller"],"description":"**Rate limits:** 5 requests/minute for PERSONAL keys, 5 requests/minute for BUSINESS keys. Exceeding the limit returns HTTP 429 with a `Retry-After` header (in seconds). The response also includes `X-RateLimit-Limit` and `X-RateLimit-Remaining` headers on every successful call.","operationId":"rotate","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RotateResponse"}}}}}}},"/api/v1/webhooks/{id}":{"get":{"tags":["webhook-controller"],"description":"**Rate limits:** 60 requests/minute for PERSONAL keys, 120 requests/minute for BUSINESS keys. Exceeding the limit returns HTTP 429 with a `Retry-After` header (in seconds). The response also includes `X-RateLimit-Limit` and `X-RateLimit-Remaining` headers on every successful call.","operationId":"get","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/WebhookResponse"}}}}}},"delete":{"tags":["webhook-controller"],"description":"**Rate limits:** 20 requests/minute for PERSONAL keys, 60 requests/minute for BUSINESS keys. Exceeding the limit returns HTTP 429 with a `Retry-After` header (in seconds). The response also includes `X-RateLimit-Limit` and `X-RateLimit-Remaining` headers on every successful call.","operationId":"delete","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}}},"patch":{"tags":["webhook-controller"],"description":"**Rate limits:** 20 requests/minute for PERSONAL keys, 60 requests/minute for BUSINESS keys. Exceeding the limit returns HTTP 429 with a `Retry-After` header (in seconds). The response also includes `X-RateLimit-Limit` and `X-RateLimit-Remaining` headers on every successful call.","operationId":"update","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateWebhookRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/WebhookResponse"}}}}}}},"/api/v1/firms/me":{"get":{"tags":["firm-controller"],"description":"**Rate limits:** 60 requests/minute for PERSONAL keys, 300 requests/minute for BUSINESS keys. Exceeding the limit returns HTTP 429 with a `Retry-After` header (in seconds). The response also includes `X-RateLimit-Limit` and `X-RateLimit-Remaining` headers on every successful call.","operationId":"getFirm","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/FirmResponse"}}}}}},"patch":{"tags":["firm-controller"],"description":"**Rate limits:** 15 requests/minute for PERSONAL keys, 60 requests/minute for BUSINESS keys. Exceeding the limit returns HTTP 429 with a `Retry-After` header (in seconds). The response also includes `X-RateLimit-Limit` and `X-RateLimit-Remaining` headers on every successful call.","operationId":"updateFirm","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FirmUpdateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/FirmResponse"}}}}}}},"/api/v1/firms/me/accounts/{accountId}/display-name":{"patch":{"tags":["firm-controller"],"description":"**Rate limits:** 15 requests/minute for PERSONAL keys, 60 requests/minute for BUSINESS keys. Exceeding the limit returns HTTP 429 with a `Retry-After` header (in seconds). The response also includes `X-RateLimit-Limit` and `X-RateLimit-Remaining` headers on every successful call.","operationId":"updateAccountDisplayName","parameters":[{"name":"accountId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateDisplayNameRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/FirmAccountSummaryResponse"}}}}}}},"/api/v1/firms/{firmName}":{"get":{"tags":["firm-controller"],"description":"**Rate limits:** 60 requests/minute for PERSONAL keys, 300 requests/minute for BUSINESS keys. Exceeding the limit returns HTTP 429 with a `Retry-After` header (in seconds). The response also includes `X-RateLimit-Limit` and `X-RateLimit-Remaining` headers on every successful call.","operationId":"getPublicFirm","parameters":[{"name":"firmName","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PublicFirmResponse"}}}}}}},"/api/v1/firms/{firmName}/balance":{"get":{"tags":["firm-controller"],"description":"**Rate limits:** 60 requests/minute for PERSONAL keys, 300 requests/minute for BUSINESS keys. Exceeding the limit returns HTTP 429 with a `Retry-After` header (in seconds). The response also includes `X-RateLimit-Limit` and `X-RateLimit-Remaining` headers on every successful call.","operationId":"getFirmBalance","parameters":[{"name":"firmName","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/FirmBalanceResponse"}}}}}}},"/api/v1/firms/me/roles":{"get":{"tags":["firm-controller"],"description":"**Rate limits:** 60 requests/minute for PERSONAL keys, 300 requests/minute for BUSINESS keys. Exceeding the limit returns HTTP 429 with a `Retry-After` header (in seconds). The response also includes `X-RateLimit-Limit` and `X-RateLimit-Remaining` headers on every successful call.","operationId":"listRoles","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/FirmRoleResponse"}}}}}}}},"/api/v1/firms/me/employees":{"get":{"tags":["firm-controller"],"description":"**Rate limits:** 60 requests/minute for PERSONAL keys, 300 requests/minute for BUSINESS keys. Exceeding the limit returns HTTP 429 with a `Retry-After` header (in seconds). The response also includes `X-RateLimit-Limit` and `X-RateLimit-Remaining` headers on every successful call.","operationId":"listEmployees","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/FirmEmployeeResponse"}}}}}}}},"/api/v1/firms/me/accounts":{"get":{"tags":["firm-controller"],"description":"**Rate limits:** 60 requests/minute for PERSONAL keys, 300 requests/minute for BUSINESS keys. Exceeding the limit returns HTTP 429 with a `Retry-After` header (in seconds). The response also includes `X-RateLimit-Limit` and `X-RateLimit-Remaining` headers on every successful call.","operationId":"listAccounts","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/FirmAccountSummaryResponse"}}}}}}}},"/api/v1/chestshop/stats":{"get":{"tags":["chest-shop-controller"],"description":"**Rate limits:** 120 requests/minute for PERSONAL keys, 600 requests/minute for BUSINESS keys. Exceeding the limit returns HTTP 429 with a `Retry-After` header (in seconds). The response also includes `X-RateLimit-Limit` and `X-RateLimit-Remaining` headers on every successful call.","operationId":"stats","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ChestShopMarketStatsResponse"}}}}}}},"/api/v1/chestshop/shops":{"get":{"tags":["chest-shop-controller"],"description":"**Rate limits:** 120 requests/minute for PERSONAL keys, 600 requests/minute for BUSINESS keys. Exceeding the limit returns HTTP 429 with a `Retry-After` header (in seconds). The response also includes `X-RateLimit-Limit` and `X-RateLimit-Remaining` headers on every successful call.","operationId":"listShops","parameters":[{"name":"itemKey","in":"query","required":false,"schema":{"type":"string"}},{"name":"material","in":"query","required":false,"schema":{"type":"string"}},{"name":"firmId","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"buyable","in":"query","required":false,"schema":{"type":"boolean","default":false}},{"name":"inStock","in":"query","required":false,"schema":{"type":"boolean","default":false}},{"name":"search","in":"query","required":false,"schema":{"type":"string"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":1}},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":50}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ChestShopShopsResponse"}}}}}}},"/api/v1/chestshop/items":{"get":{"tags":["chest-shop-controller"],"description":"**Rate limits:** 120 requests/minute for PERSONAL keys, 600 requests/minute for BUSINESS keys. Exceeding the limit returns HTTP 429 with a `Retry-After` header (in seconds). The response also includes `X-RateLimit-Limit` and `X-RateLimit-Remaining` headers on every successful call.","operationId":"listItems","parameters":[{"name":"search","in":"query","required":false,"schema":{"type":"string"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":1}},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":50}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ChestShopItemsResponse"}}}}}}},"/api/v1/chestshop/items/{itemKey}":{"get":{"tags":["chest-shop-controller"],"description":"**Rate limits:** 120 requests/minute for PERSONAL keys, 600 requests/minute for BUSINESS keys. Exceeding the limit returns HTTP 429 with a `Retry-After` header (in seconds). The response also includes `X-RateLimit-Limit` and `X-RateLimit-Remaining` headers on every successful call.","operationId":"getItem","parameters":[{"name":"itemKey","in":"path","required":true,"schema":{"type":"string"}},{"name":"days","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":30}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ChestShopItemDetailResponse"}}}}}}},"/api/v1/auth/me":{"get":{"tags":["auth-controller"],"description":"**Rate limits:** 30 requests/minute for PERSONAL keys, 30 requests/minute for BUSINESS keys. Exceeding the limit returns HTTP 429 with a `Retry-After` header (in seconds). The response also includes `X-RateLimit-Limit` and `X-RateLimit-Remaining` headers on every successful call.","operationId":"me","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MeResponse"}}}}}}},"/api/v1/accounts/{accountId}/transactions":{"get":{"tags":["account-controller"],"description":"**Rate limits:** 60 requests/minute for PERSONAL keys, 300 requests/minute for BUSINESS keys. Exceeding the limit returns HTTP 429 with a `Retry-After` header (in seconds). The response also includes `X-RateLimit-Limit` and `X-RateLimit-Remaining` headers on every successful call.","operationId":"getTransactions","parameters":[{"name":"accountId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":1}},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":20}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TransactionsResponse"}}}}}}},"/api/v1/accounts/{accountId}/transactions/feed":{"get":{"tags":["account-controller"],"description":"**Rate limits:** 120 requests/minute for PERSONAL keys, 600 requests/minute for BUSINESS keys. Exceeding the limit returns HTTP 429 with a `Retry-After` header (in seconds). The response also includes `X-RateLimit-Limit` and `X-RateLimit-Remaining` headers on every successful call.","operationId":"getTransactionFeed","parameters":[{"name":"accountId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"since","in":"query","required":false,"schema":{"type":"integer","format":"int64","default":0}},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TransactionFeedResponse"}}}}}}},"/api/v1/accounts/{accountId}/balance":{"get":{"tags":["account-controller"],"description":"**Rate limits:** 120 requests/minute for PERSONAL keys, 600 requests/minute for BUSINESS keys. Exceeding the limit returns HTTP 429 with a `Retry-After` header (in seconds). The response also includes `X-RateLimit-Limit` and `X-RateLimit-Remaining` headers on every successful call.","operationId":"getBalance","parameters":[{"name":"accountId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AccountBalanceResponse"}}}}}}},"/api/v1/accounts/by-player":{"get":{"tags":["account-controller"],"description":"**Rate limits:** 60 requests/minute for PERSONAL keys, 300 requests/minute for BUSINESS keys. Exceeding the limit returns HTTP 429 with a `Retry-After` header (in seconds). The response also includes `X-RateLimit-Limit` and `X-RateLimit-Remaining` headers on every successful call.","operationId":"getAccountByPlayer","parameters":[{"name":"uuid","in":"query","required":false,"schema":{"type":"string"}},{"name":"name","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AccountByPlayerResponse"}}}}}}}},"components":{"schemas":{"CreateWebhookRequest":{"type":"object","properties":{"url":{"type":"string"}}},"CreateWebhookResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"scope":{"type":"string"},"accountId":{"type":"integer","format":"int64"},"firmId":{"type":"integer","format":"int64"},"url":{"type":"string"},"active":{"type":"boolean"},"secret":{"type":"string"}}},"TransferRequest":{"type":"object","properties":{"fromAccountId":{"type":"integer","format":"int64"},"toAccountId":{"type":"integer","format":"int64"},"amount":{"type":"string"},"memo":{"type":"string"}}},"TransferResponse":{"type":"object","properties":{"txnId":{"type":"integer","format":"int64"},"fromAccountId":{"type":"integer","format":"int64"},"toAccountId":{"type":"integer","format":"int64"},"amount":{"type":"string"},"memo":{"type":"string"},"settledAt":{"type":"string","format":"date-time"}}},"PlayerTransferRequest":{"type":"object","properties":{"fromAccountId":{"type":"integer","format":"int64"},"toPlayerUuid":{"type":"string"},"toPlayerName":{"type":"string"},"amount":{"type":"string"},"memo":{"type":"string"}}},"FirmTransferRequest":{"type":"object","properties":{"fromAccountId":{"type":"integer","format":"int64"},"toFirm":{"type":"string"},"amount":{"type":"string"},"memo":{"type":"string"}}},"RotateResponse":{"type":"object","properties":{"keyId":{"type":"integer","format":"int64"},"token":{"type":"string"},"issuedAt":{"type":"string","format":"date-time"},"expiresAt":{"type":"string","format":"date-time"}}},"UpdateWebhookRequest":{"type":"object","properties":{"url":{"type":"string"},"active":{"type":"boolean"}}},"WebhookResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"scope":{"type":"string"},"accountId":{"type":"integer","format":"int64"},"firmId":{"type":"integer","format":"int64"},"url":{"type":"string"},"active":{"type":"boolean"},"consecutiveFailures":{"type":"integer","format":"int64"},"createdAt":{"type":"string","format":"date-time"}}},"FirmUpdateRequest":{"type":"object","properties":{"discordUrl":{"type":"string"},"hqRegion":{"type":"string"}}},"FirmResponse":{"type":"object","properties":{"firmId":{"type":"integer","format":"int64"},"displayName":{"type":"string"},"discordUrl":{"type":"string"},"hqRegion":{"type":"string"},"archived":{"type":"boolean"}}},"UpdateDisplayNameRequest":{"type":"object","properties":{"displayName":{"type":"string"}}},"FirmAccountSummaryResponse":{"type":"object","properties":{"accountId":{"type":"integer","format":"int64"},"displayName":{"type":"string"},"accountType":{"type":"string"},"balance":{"type":"string"},"archived":{"type":"boolean"}}},"WebhookListResponse":{"type":"object","properties":{"webhooks":{"type":"array","items":{"$ref":"#/components/schemas/WebhookResponse"}}}},"PublicFirmResponse":{"type":"object","properties":{"firmId":{"type":"integer","format":"int64"},"displayName":{"type":"string"},"discordUrl":{"type":"string"},"hqRegion":{"type":"string"},"defaultAccountId":{"type":"integer","format":"int64"},"archived":{"type":"boolean"},"createdAt":{"type":"string","format":"date-time"}}},"FirmBalanceResponse":{"type":"object","properties":{"firmId":{"type":"integer","format":"int64"},"displayName":{"type":"string"},"totalBalance":{"type":"string"}}},"FirmRoleResponse":{"type":"object","properties":{"name":{"type":"string"},"rankOrder":{"type":"integer","format":"int32"},"proprietorLike":{"type":"boolean"},"defaultRole":{"type":"boolean"},"permissions":{"type":"array","items":{"type":"string"}}}},"FirmEmployeeResponse":{"type":"object","properties":{"playerUuid":{"type":"string"},"playerName":{"type":"string"},"roleName":{"type":"string"},"joinedAt":{"type":"string","format":"date-time"}}},"ChestShopMarketStatsResponse":{"type":"object","properties":{"totalSales":{"type":"integer","format":"int64"},"totalVolume":{"type":"string"},"distinctItems":{"type":"integer","format":"int64"},"activeShops":{"type":"integer","format":"int64"}}},"ChestShopShopResponse":{"type":"object","properties":{"shopId":{"type":"integer","format":"int64"},"world":{"type":"string"},"x":{"type":"integer","format":"int32"},"y":{"type":"integer","format":"int32"},"z":{"type":"integer","format":"int32"},"adminShop":{"type":"boolean"},"accountType":{"type":"string"},"firmId":{"type":"integer","format":"int32"},"ownerUuid":{"type":"string"},"ownerName":{"type":"string"},"material":{"type":"string"},"itemKey":{"type":"string"},"itemName":{"type":"string"},"itemCustom":{"type":"boolean"},"buyPrice":{"type":"string"},"sellPrice":{"type":"string"},"batchQty":{"type":"integer","format":"int32"},"currentStock":{"type":"integer","format":"int32"},"stockAt":{"type":"string","format":"date-time"},"lastSeen":{"type":"string","format":"date-time"}}},"ChestShopShopsResponse":{"type":"object","properties":{"page":{"type":"integer","format":"int32"},"totalPages":{"type":"integer","format":"int32"},"totalItems":{"type":"integer","format":"int64"},"items":{"type":"array","items":{"$ref":"#/components/schemas/ChestShopShopResponse"}}}},"ChestShopItemResponse":{"type":"object","properties":{"itemKey":{"type":"string"},"material":{"type":"string"},"itemName":{"type":"string"},"itemCustom":{"type":"boolean"},"tradeCount":{"type":"integer","format":"int64"},"totalQuantity":{"type":"integer","format":"int64"},"totalVolume":{"type":"string"}}},"ChestShopItemsResponse":{"type":"object","properties":{"page":{"type":"integer","format":"int32"},"totalPages":{"type":"integer","format":"int32"},"totalItems":{"type":"integer","format":"int64"},"items":{"type":"array","items":{"$ref":"#/components/schemas/ChestShopItemResponse"}}}},"ChestShopItemDetailResponse":{"type":"object","properties":{"itemKey":{"type":"string"},"material":{"type":"string"},"itemName":{"type":"string"},"itemCustom":{"type":"boolean"},"windowDays":{"type":"integer","format":"int32"},"tradeCount":{"type":"integer","format":"int64"},"totalQuantity":{"type":"integer","format":"int64"},"totalVolume":{"type":"string"},"avgUnitPrice":{"type":"string"},"activeShopCount":{"type":"integer","format":"int64"},"cheapestShops":{"type":"array","items":{"$ref":"#/components/schemas/ChestShopShopResponse"}},"priceByDay":{"type":"array","items":{"$ref":"#/components/schemas/ChestShopPricePoint"}}}},"ChestShopPricePoint":{"type":"object","properties":{"day":{"type":"string"},"sales":{"type":"integer","format":"int64"},"totalQuantity":{"type":"integer","format":"int64"},"totalVolume":{"type":"string"},"avgUnitPrice":{"type":"string"}}},"MeResponse":{"type":"object","properties":{"keyId":{"type":"integer","format":"int64"},"ownerUuid":{"type":"string","format":"uuid"},"keyType":{"type":"string"},"accountId":{"type":"integer","format":"int64"},"firmId":{"type":"integer","format":"int64"}}},"TransactionItem":{"type":"object","properties":{"postingId":{"type":"integer","format":"int64"},"txnId":{"type":"integer","format":"int64"},"amount":{"type":"string"},"memo":{"type":"string"},"message":{"type":"string"},"settledAt":{"type":"string","format":"date-time"},"initiatorUuid":{"type":"string"},"pluginSystem":{"type":"string"}}},"TransactionsResponse":{"type":"object","properties":{"accountId":{"type":"integer","format":"int64"},"page":{"type":"integer","format":"int32"},"totalPages":{"type":"integer","format":"int32"},"totalItems":{"type":"integer","format":"int64"},"items":{"type":"array","items":{"$ref":"#/components/schemas/TransactionItem"}}}},"TransactionFeedResponse":{"type":"object","properties":{"accountId":{"type":"integer","format":"int64"},"cursor":{"type":"integer","format":"int64"},"nextCursor":{"type":"integer","format":"int64"},"hasMore":{"type":"boolean"},"items":{"type":"array","items":{"$ref":"#/components/schemas/TransactionItem"}}}},"AccountBalanceResponse":{"type":"object","properties":{"accountId":{"type":"integer","format":"int64"},"balance":{"type":"string"}}},"AccountByPlayerResponse":{"type":"object","properties":{"accountId":{"type":"integer","format":"int64"},"playerUuid":{"type":"string"},"playerName":{"type":"string"}}}},"securitySchemes":{"BearerJWT":{"type":"http","description":"Pass the full JWT issued by `/treasuryapi personal issue` or `/treasuryapi business issue` in the `Authorization: Bearer <jwt>` header.\n","in":"header","scheme":"bearer","bearerFormat":"JWT"}}}}